<!DOCTYPE html>
<html>
<head>
    <!-- Inserta el código de AdSense aquí, preferiblemente al principio del <head> -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8616709924287043"
     crossorigin="anonymous"></script>
    
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- Otros metadatos, CSS o enlaces que necesites -->
</head>
<body>



    <footer>
        <p>Derechos de autor &copy; 2025</p>
    </footer>

</body>
</html>
